.TodoList {
  display: flex;
  flex-direction: column;
}
input,
button {
  font-size: inherit;
  padding: 10px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.placeholder {
  opacity: 0.6;
  font-size: 0.8em;
}
.loader {
  display: flex;
  justify-content: center;
}
